*{
      box-sizing: border-box;
}

body, html {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      background-color: #f8f8f8;
}
header {
      background-color: #3a3a42;
      padding: 2em 1em 1em;
      text-align: center;
      color: #f8f8f8;
      width: 100%;
}
h1 {
      margin: 0;
      font-weight: 700;
      font-size: 2.5rem;
      text-transform: capitalize;
}
p{
      font-size: 1.2rem;
      text-transform: capitalize;
      margin: .5em;
      font-weight: 500;
}
section, .email-wrapper{
      display: flex;
      align-items: center;
      padding-bottom: 1.5em;
      gap: 1em;
}
img {
      width: 70px;
      height: 70px;
}
main {
      padding: 2em 1em 3em;
      background-color: #f8f8f8;
      height: max-content;
}
a, section p{
      display: block;
      display: flex;
      align-items: center;
      background-color: #dcdce2;
      width: 100%;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      font-size: 1.5rem;
      text-transform: capitalize;
      padding: .678em 1em;
      letter-spacing: 1px;
      text-decoration: none;
      color: #3a3a42;
      border-radius: 8px;
}
a img, .copy {
      height: 25px;
      width: 25px;
      margin: 0 0 0 auto;
}
section p {
      margin: 0;
}

.email, #phone{
      display: inline;
      padding: 1em;
      font-size: 1.2rem;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      position: relative;
}
.copy {
      height: 65px;
      width: 70px;
      margin-left: 0 0 0 auto;
      position: absolute;
}

@media (max-width: 768px) {
      header {
            padding: 1em;
      }
      main {
            width: 100%;
            max-width: 500px;
            margin: 5em auto 0;
            
      }
      .copy {
            right: 10em;
      }
}
@media (max-width: 600px) {
      .copy {
            right: 1em;
      }
      main {
            margin-top: 1.5em;
      }

}
@media (min-width: 1024px) {
      main {
            max-width: 500px;
            width: 100%;
            margin: auto;
      }
      .copy {
            right: 18em;
            width: 60px;
            cursor: pointer;
      }

}
@media(max-width: 1280px) and (min-width: 1280px) {
      .copy {
            right: 26rem;
      }
}
@media (min-width: 1440px) {
      .copy {
            right: 30.7em;
      }
}


